In [1]:
# Dependencies
import pandas as pd

In [2]:
vac = pd.read_csv('../Resources/covid19_vaccinations.csv')
vac

,Number,ABBR,State,Total_Delivered,Total_Administered,People_with_one_Dose,People_with_2_Doses
0,1,AK,Alaska,271550,183831,126381,57117
1,2,AB,Alabama,965550,612254,474065,137032
2,3,AR,Arkansas,630700,472536,338611,130637
3,4,AO,American Samoa,29450,15382,10062,5308
4,5,AZ,Arizona,1393575,1089155,840252,244971
...,...,...,...,...,...,...,...
58,59,VT,Vermont,138025,106787,73105,33495
59,60,WA,Washington,1437825,1166471,870853,281718
60,61,WI,Wisconsin,1082100,955412,709908,234709
61,62,WV,West Virginia,395600,386583,247689,138882
62,63,WY,Wyoming,122200,99099,71653,27132

In [7]:
vac2 = pd.read_csv('../Resources/b2020VAERSDATA.csv')
vac2

,VAERS_ID,RECVDATE,ABBR,AGE_YRS,SEX,RPT_DATE,DIED,DATEDIED,HOSPITAL,HOSPDAYS,DISABLE,RECOVD,VAX_DATE,ONSET_DATE,NUMDAYS
0,855017,1/1/20,HI,55.0,F,NaN,NaN,NaN,NaN,NaN,NaN,N,12/30/19,12/30/19,0.0
1,855018,1/1/20,WI,68.0,F,NaN,NaN,NaN,NaN,NaN,NaN,Y,12/30/19,12/30/19,0.0
2,855019,1/1/20,NaN,50.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/23/19,12/29/19,6.0
3,855020,1/1/20,TX,67.0,F,NaN,NaN,NaN,NaN,NaN,NaN,N,12/1/19,1/1/20,31.0
4,855021,1/1/20,NaN,73.0,F,NaN,NaN,NaN,NaN,NaN,NaN,U,12/31/19,12/31/19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44254,918437,12/31/20,AR,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,N,12/29/20,12/29/20,0.0
44255,918438,12/31/20,AR,49.0,F,NaN,NaN,NaN,NaN,NaN,NaN,N,12/29/20,NaN,NaN
44256,918439,12/31/20,AR,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,N,12/29/20,12/29/20,0.0
44257,918440,12/31/20,AR,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
44258,918442,12/31/20,AR,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,N,12/29/20,NaN,NaN

In [8]:
# Merge two dataframes using an outer join
merge_df = pd.merge(vac, vac2, on="ABBR", how="outer")
merge_df

,Number,ABBR,State,Total_Delivered,Total_Administered,People_with_one_Dose,People_with_2_Doses,VAERS_ID,RECVDATE,AGE_YRS,...,RPT_DATE,DIED,DATEDIED,HOSPITAL,HOSPDAYS,DISABLE,RECOVD,VAX_DATE,ONSET_DATE,NUMDAYS
0,1.0,AK,Alaska,271550.0,183831.0,126381.0,57117.0,855962.0,1/9/20,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,1/7/20,1/8/20,1.0
1,1.0,AK,Alaska,271550.0,183831.0,126381.0,57117.0,855976.0,1/9/20,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,12/30/19,12/31/19,1.0
2,1.0,AK,Alaska,271550.0,183831.0,126381.0,57117.0,856429.0,1/13/20,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,1/9/20,1/9/20,0.0
3,1.0,AK,Alaska,271550.0,183831.0,126381.0,57117.0,856557.0,1/14/20,NaN,...,NaN,NaN,NaN,Y,NaN,NaN,N,NaN,NaN,NaN
4,1.0,AK,Alaska,271550.0,183831.0,126381.0,57117.0,856918.0,1/16/20,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,1/14/20,1/15/20,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46821,NaN,Ar,NaN,NaN,NaN,NaN,NaN,891051.0,10/20/20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
46822,NaN,PW,NaN,NaN,NaN,NaN,NaN,892726.0,10/26/20,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,9/21/20,9/21/20,0.0
46823,NaN,PW,NaN,NaN,NaN,NaN,NaN,893939.0,11/1/20,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,10/30/20,10/30/20,0.0
46824,NaN,Co,NaN,NaN,NaN,NaN,NaN,898896.0,11/30/20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN
46825,NaN,AS,NaN,NaN,NaN,NaN,NaN,913084.0,12/29/20,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,12/22/20,12/22/20,0.0

In [9]:
# Remove the rows with missing data
clean_vac_df = merge_df.dropna(how="any")
clean_vac_df.count()

Number                  0
ABBR                    0
State                   0
Total_Delivered         0
Total_Administered      0
People_with_one_Dose    0
People_with_2_Doses     0
VAERS_ID                0
RECVDATE                0
AGE_YRS                 0
SEX                     0
RPT_DATE                0
DIED                    0
DATEDIED                0
HOSPITAL                0
HOSPDAYS                0
DISABLE                 0
RECOVD                  0
VAX_DATE                0
ONSET_DATE              0
NUMDAYS                 0
dtype: int64

In [10]:
clean_vac_df.head()

Empty DataFrame
Columns: [Number, ABBR, State, Total_Delivered, Total_Administered, People_with_one_Dose, People_with_2_Doses, VAERS_ID, RECVDATE, AGE_YRS, SEX, RPT_DATE, DIED, DATEDIED, HOSPITAL, HOSPDAYS, DISABLE, RECOVD, VAX_DATE, ONSET_DATE, NUMDAYS]
Index: []

[0 rows x 21 columns]

In [10]:
clean_vac_df.tail()

,Number,ABBR,State,Total_Delivered,Total_Administered,People_with_one_Dose,People_with_2_Doses,VAERS_ID,RECVDATE,AGE_YRS,SEX,DIED,DATEDIED,HOSPDAYS,VAX_DATE,ONSET_DATE,NUMDAYS,FORM_VERS,TODAYS_DATE
2680,54.0,TX,Texas,5099325.0,4133747.0,2970596.0,1159996.0,963235.0,1/21/21,94.0,F,Y,1/18/21,5.0,1/4/21,1/9/21,5.0,2.0,1/21/21
2839,60.0,WA,Washington,1437825.0,1166471.0,870853.0,281718.0,1002636.0,2/4/21,90.0,F,Y,1/23/21,3.0,12/28/20,1/17/21,20.0,2.0,2/4/21
2850,61.0,WI,Wisconsin,1082100.0,955412.0,709908.0,234709.0,927260.0,1/7/21,87.0,F,Y,1/6/21,1.0,12/28/20,1/6/21,9.0,2.0,1/7/21
2885,61.0,WI,Wisconsin,1082100.0,955412.0,709908.0,234709.0,975002.0,1/26/21,88.0,M,Y,1/14/21,1.0,1/12/21,1/13/21,1.0,2.0,1/26/21
2916,62.0,WV,West Virginia,395600.0,386583.0,247689.0,138882.0,1002808.0,2/4/21,90.0,F,Y,2/3/21,20.0,1/9/21,2/3/21,25.0,2.0,2/4/21

In [11]:
# Count for each state
state_counts = clean_vac_df["ABBR"].value_counts()
state_counts

MI    8
CO    4
FL    4
NC    4
MA    4
OH    3
NY    3
AR    3
CA    2
NH    2
TX    2
AZ    2
NE    2
ND    2
WI    2
MN    2
IL    1
WA    1
NJ    1
OR    1
KS    1
SC    1
MT    1
WV    1
GA    1
IA    1
Name: ABBR, dtype: int64

In [12]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_vac_df = clean_vac_df.groupby(['ABBR'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_vac_df)

# In order to be visualized, a data function must be used...
grouped_vac_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f90d147a7f0>

,Number,State,Total_Delivered,Total_Administered,People_with_one_Dose,People_with_2_Doses,VAERS_ID,RECVDATE,AGE_YRS,SEX,DIED,DATEDIED,HOSPDAYS,VAX_DATE,ONSET_DATE,NUMDAYS,FORM_VERS,TODAYS_DATE
ABBR,,,,,,,,,,,,,,,,,,
AR,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
AZ,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
CA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
CO,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
FL,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
GA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
IA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
IL,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
KS,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MA,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
MI,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
MN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
MT,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
NC,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ND,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
NE,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
NH,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
NJ,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
NY,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
OH,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
OR,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SC,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
TX,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
WA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
WI,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
WV,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [19]:
# Remove extra columns

del grouped_vac_df['State']
grouped_vac_df

TypeError: 'DataFrameGroupBy' object does not support item deletion